.characterEditor {
  padding-top   : 128px;
  padding-bottom: 64px;
  position      : relative;
}

.maxWidthWrapper {}

.header {
  padding-bottom: 64px;
  width         : 65%;
}

.title {
  font-size     : 2.5rem;
  font-weight   : 600;
  margin-top    : 0;
  margin-bottom : 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin   : 0;
}

.characterWrapper {
  position   : fixed;
  top        : 15%;
  left       : 55%;
  bottom     : 3%;
  margin-left: 32px;
  min-width  : 500px;
}

.controlColumn {
  width: 50%;
}